
.menu{
	background-color: #000000;
	color:#FFFFFF;
	height:auto;
	width:99999999999px;
	position: fixed;
	z-index: 9999;
	opacity: 0.8;
	list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;


}


li{
	display: inline;
	padding-left: 20px;

}


.parallax{
	min-height: 1000px;
	background-image: url("/images/manhatten1-2.jpeg");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*opacity: 0.7;*/
}

.project-area{
	min-height: 250px;
	max-height: 700px;
	background-image: url("/images/woods.jpg");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-area {
	min-height: 250px;
	max-height: 700px;
	background-image: url("/images/contact.jpg");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pic{
	border-radius: 50%;
	margin-right: 20px;
}

.profile-area{
	margin-top: 200px;
	background-color: rgba(255,255,255,0.2);
	/*height:500px;*/
	opacity: 1;
	z-index: 1000;
	/*position: fixed;*/
	margin-bottom: 20px;
}

.about-me {
	background-color: #FFFFFF;
	margin-bottom: 30px;
}

.scrollit {
        margin-top: 50px;
        float: left;
        width: 71%;
        margin-left:400px;
        padding-right: 200px;
}

        
a:hover {
 cursor:pointer;
}



.name{
	margin-top: 50px;
	
}

.project-title {
	color: white;
	background-color: rgba(0,0,0,0.5);
	margin-left: 500px;
	margin-right: 500px;
}

.white {
	color: white;
	
}